<app-nav-bar></app-nav-bar>

<div *ngIf="movies.length === 0" class="loading-container">
    <mat-progress-spinner value="100" mode="indeterminate">
    </mat-progress-spinner>
</div>

<div class="movie-grid">
    <div class="movie-grid-items" *ngFor=" let movie of movies; let i= index;">
    <mat-card>
        <mat-card-title>
            {{movie.Title}}
        </mat-card-title>
            <mat-card-subtitle>
                Directed by: {{movie.Director.Name}}
            </mat-card-subtitle>

            <img src={{movie.ImagePath}} alt= {{movie.Title}}/>

        <mat-card-actions>
            <button mat-button color="primary" 
            (click)="getGenre(movie.Genre.Name, movie.Genre.Description)" matTooltip="Genre"
            >
                Genre
            </button>

            <button
                mat-button
                color="primary"
                (click)="getDirector(movie.Director.Name, movie.Director.Bio)" matTooltip="Director"
            >
                Director
            </button>
            <button
                mat-button
                color="primary"
                (click)="getSynopsis(movie.Description)" matTooltip="synopsis"
            >
                Synopsis
            </button>
            <button *ngIf="!isFavorite(movie._id)" mat-icon-button (click)="addFavorite(movie._id)"
                matTooltip="Add to favorites">
                <mat-icon>favorite_border</mat-icon>
            </button>

            <button *ngIf="isFavorite(movie._id)" mat-icon-button (click)="removeFavorite(movie._id)"
                    matTooltip="Remove from favorites">
                    <mat-icon>favorite</mat-icon>
                </button>
                
        </mat-card-actions>
    </mat-card>
</div>
</div>